<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Admin</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Benvenuto nella tua area riservata, Admin!</h1>
    </header>
    <nav>
        <ul>
            <li><a th:href="@{/admin/addVideogioco}">Gestione Videogiochi</a></li>
            <li><a th:href="@{/admin/addCasaProduttrice}">Gestione Case Produttrici</a></li>
        </ul>
    </nav>
    
    <footer>
        <p>&copy; 2023 Ludoteca. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>